body {
    background-color: white;
}

h2 {
    margin-left: 40px;
}

table {
    margin-left: 40px;
    margin-top: 20px;
    margin-left: 40px;
    text-align: left;
}

#input {
    width: 400px;
    height: 20px;
    margin-left: 40px;
}

#submit {
    margin-left: 20px;
    cursor: pointer;
}

#submitBtn {
    height: 25px;
    margin-left: 10px;
    width: 90px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #16a3b7;
}

#submitBtn:hover {
    background-color: #83ccd6;
}

.done-button {
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #16a3b7;
}

.done-button:hover {
    background-color: #83ccd6;
}

.delete-button {
    height: 25px;
    width: 25px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #db3345;
}

.delete-button:hover {
    background-color: #ec5c6a;
}

.db-button {
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(100, 100, 100);
}

.db-button:hover {
    background-color: rgb(145, 145, 145);
}